<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="bar">
        <div class="bar-container">
            <ul class="menu">
                <li><a href="#">Mac</a></li>
                <li><a href="#">iPad</a></li>
                <li><a href="#">iPhone</a></li>
                <li><a href="#">Watch</a></li>
                <li><a href="#">TV</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </div>
    </nav>
    <section class="main">
        <article class="content">
            <div class="inner">
                <div class="heading" role="heading">
                    <span>Introducing</span>
                    <h1>
                        Today at Apple
                    </h1>
                </div>
                <h2 class="content-header">Inspiration is now in session.</h2>
            </div>
        </article>
        <div class="img">
            <figure></figure>
        </div>
    </section>
    <section class="content">
        <ul>
            <li>
                <a class="promo" href="#"></a>
            </li>
            <li>
                <a class="promo" href="#"></a>
            </li>
            <li>
                <a class="promo" href="#"></a>
            </li>
            <li>
                <a class="promo" href="#"></a>
            </li>
        </ul>
        @*<section class="quadruple-section orange">
            <div class="mountain">
            </div>
            <article>
                <h2>
                    iPhone. This is 7.
                </h2>
            </article>
        </section>
        <section class="quadruple-section orchid">
            <div class="mountain2">
            </div>
            <article>
                <h2>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat ...
                </h2>
            </article>
        </section>
        <section class="quadruple-section burlywood">
            <div class="mountain">
            </div>
            <article>
                <h2>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat ...
                </h2>
            </article>
        </section>
        <section class="quadruple-section cornflowerblue">
            <div class="mountain2">
            </div>
            <article>
                <h2>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat ...
                </h2>
            </article>
        </section>
        <section class="contacts">
            <ul>
                <li><a href="#">ВК</a></li>
                <li><a href="#">ОД</a></li>
                <li><a href="#">TW</a></li>
                <li><a href="#">8(908)808-88-88</a></li>
            </ul>
        </section>*@
    </section>
    @RenderBody()
</body>
</html>
