<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="bar">
        <div class="bar-container">
            <ul class="menu">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Сноуборды</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Поиск</a></li>
            </ul>
        </div>
    </nav>
    <section class="main">
        <article class="content">
            <h1 class="content-header">Lorem ipsum</h1>
            <div class="content-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat ...
                <img class="content-img" src="~/img/snowboard.jpg" alt="Скидки на сноуборды" />
            </div>
        </article>
    </section>
    <footer class="section">
        <section class="quadruple-section orange">
            <div class="mountain">
            </div>
            <article>
                <h2>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat ...
                </h2>
            </article>
        </section>
        <section class="quadruple-section orchid">
            <div class="mountain2">
            </div>
            <article>
                <h2>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat ...
                </h2>
            </article>
        </section>
        <section class="quadruple-section burlywood">
            <div class="mountain">
            </div>
            <article>
                <h2>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat ...
                </h2>
            </article>
        </section>
        <section class="quadruple-section cornflowerblue">
            <div class="mountain2">
            </div>
            <article>
                <h2>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat ...
                </h2>
            </article>
        </section>
        <section class="contacts">
            <ul>
                <li><a href="#">ВК</a></li>
                <li><a href="#">ОД</a></li>
                <li><a href="#">TW</a></li>
                <li><a href="#">8(908)808-88-88</a></li>
            </ul>
        </section>
    </footer>
    @RenderBody()
</body>
</html>
